
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}
html {
    font-size: 11px;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
 


.logo-container,
.cart {
    color: #5f5f79;
    display: flex;
}

.logo-container {
    flex: 1;
}
.logo {
    font-weight: 400;
    margin: 5px;
}
nav {
    flex: 2;
}

ul{
    color: white;
    list-style: none;
}
.cart {
    flex: 1;
    justify-content: flex-end;
}


table {
    width: 100%;
    overflow-x: auto;
    display: block;
}
 
div {
    max-width: 100%;
    text-align: center;
}
 
th {
    text-align: left;
}
 
img { 
    max-width: 25%; 
    height: auto; 
}
 
button {
     font-family: 'Poppins', sans-serif;
    margin: 4px;
}
 
#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}
 
#statusMessage {
    position: relative;
    top: 40px;
}
 
.textLeft {
    text-align: left;
}
 
.buttonGroup {
    position: relative;
    top: 20px;
}
 
.hidden {
    display: none;
}
